 @import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Ubuntu&display=swap');
 @import url('http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin');
 body {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 25px;
    color: #555;
    font-family: "Ubuntu";
    text-align: justify;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

a:link{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Russo One";
    font-weight: 300;
    color: #333;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    margin-bot: 10px;
}

h1 {
    margin-top: 100px;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: "Ubuntu";
    font-size: 24px;
    text-align: center;
    text-indent: 2em;
    margin-top: 55px;
    margin-bottom: 55px;
}

* {
    margin: 0;
    padding: 0;
}
.main_welcome{
    display: flex;
    margin: auto;
    flex-direction: column;
  	background-size: cover;
  	background-position: 50% 50%;
    max-width: 1050px;
    height: 100vh;
}

/* Header */

header {
    background-color: #070707;
    min-height: 65px;
    margin-top: auto;
    padding-top: 10px;
    font-size: 20px;
}
.nav{
    background-color: #070707;
}

.nav-link {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #ffdb7a;
    border-bottom-color: #ffdb7a;
    transform: scale(0.1, 1);
}

.nav-link:hover {
    letter-spacing: 2px;
    color: #ffdb7a !important;
}

.nav-link:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
}

.nav-link:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

        /* Check Option */

.option {
    display: block;
    margin-bottom: 0.5em;
    margin-top: 10px;
    max-width: 350px;
    margin-left: 150px;

}

.check {
    padding-left: 1.2em;
}

.check__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0)
}

.check__box {
    position: absolute;
    margin-top: 0.2em;
    margin-left: -1em;
    width: 0.8em;
    height: 0.8em;
    overflow: hidden;
    border-radius: 0.05em;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0.1em #4A90E2;
}

.check__info {
    margin-left: 5px;
}

.check__input:checked + .check__box {
    background-color: #4A90E2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpolyline fill='none' stroke='%23fff' stroke-width='3' points='1.079 4.999 5 9 10.837 2'/%3E%3C/svg%3E");
}

.check__input:focus + .check__box {
    box-shadow:
    0 0 0 0.1em #4A90E2,
    0 0 0 0.2em #7ED321;
}

        /* Buttons */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: auto;
  margin-top: 100px;
}

.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
  border-radius: 10px;
  max-width:300px;
  height: 75px;
  font-weight: 500;
  font-size: 18px;
 }

 .btn:hover {
  background-position: right center;
}

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}
